.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.data:hover {
  opacity: 0.5;
}

.data.positive {
  fill: #fe625e;
}

.data.negative {
  fill: #00b8aa;
}

.data.pending {
  fill: #f2c80f;
}

.data.death {
  fill: #374649;
}

@media (max-width: 500px) {
  #rotate-device {
    margin: 0;
    height: 90vh;
    width: 100vw;
    background-color: rgba(0, 128, 128, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }

  #data-viz {
    display: none;
  }
}

@media (min-width: 501px) {
  #rotate-device {
    display: none;
  }
}
